h1.list-header {
    margin: auto;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    background-color: papayawhip;
}

div.list-header {
    margin: auto;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    background-color: navajowhite;
}

ul.list-range {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    width: 50%;
    overflow: hidden;
    background-color: papayawhip;
}

li.list-range {
}

a.list-range {
    display: block;
    padding: 8px;
}