h1.single-main {
    margin: auto;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    background-color: navajowhite;
}

div.single-main-content {
    margin: auto;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    background-color: navajowhite;
}

div.single-main-info {
    margin: auto;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    background-color: navajowhite;
}